<form #editForm="ngForm">
    <label for="">StudentName</label>
    <input type="text" #fullname="ngModel" name="fullname" ngModel> <br>
    <label for="">StudentName</label>
    <input type="text" #fullname="ngModel" name="fullname" ngModel> <br>
    <label for="">StudentName</label>
    <input type="text" #fullname="ngModel" name="fullname" ngModel> <br>
    <label for="">StudentName</label>
    <input type="text" #fullname="ngModel" name="fullname" ngModel> <br>
    <button>Update</button>
</form>