
<div class="wrapper">
    <!-- Navigation -->
    <nav>
        <img src="https://www.igche.de/indian_partners/siddaganga/files/stacks-image-035f7ca.png" alt="">
        <ul>
            <li><a href="" >Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Courses</a></li>
            <li><a routerLink="/registration">Registration</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        
    </nav>
    <!-- Eng of navigation -->
    

    <div class="section">
        <h1>WE ENSURE A BETTER EDUCATION <br>FOR A BETTER WORLD</h1>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur expedita sed
            necessitatibus commodi iusto itaque, deleniti earum aperiam ducimus tempora repellendus repudiandae
            consequuntur quas in, quia aut a voluptatibus eius.</P>
        <a href="#"> <button class="btn-1">GET STARTED</button> </a>
        <!-- FEATURES -->
        <div class="features">
            <button>Learn Online Classes</button>
            <button>Bridge Courses</button>
            <button>Huge Library</button>
            <button>Practical Exposure </button>

        </div>
        <!-- END OF FEATURES -->
    </div>
    <!-- END OF SECTION -->
</div>
<!-- END OF wRAPPER -->

<!-- show case -->
<div class="showcase">
    <h1>POPULAR COURSES WE OFFER</h1>
    <div id="courses">
        <div class="cs">
            <h3>Computer Science</h3>
            <img src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061__340.jpg" width="50%" alt="">
            <a href=""><button class="apply">Apply Here</button></a>
        </div>
        <div class="business">
            <h3>Business studies</h3>
            <img src="https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428__340.jpg" alt="">
            <a href=""><button class="apply">Apply Here</button></a>
        </div>
        <div class="journalism">
            <h3>Media and journalism</h3>
            <img src="https://cdn.pixabay.com/photo/2017/03/27/13/17/notebook-2178656__340.jpg" alt="">
            <a href=""><button class="apply">Apply Here</button></a>

        </div>
        <div class="arts">
            <h3>Arts & Humanities</h3>
            <img src="https://cdn.pixabay.com/photo/2017/03/27/13/17/notebook-2178656__340.jpg" alt="">
            <a href=""><button class="apply">Apply Here</button></a>
        </div>
        <div class="medical">
            <h3>Medical Science</h3>
            <img src="https://cdn.pixabay.com/photo/2017/03/27/13/17/notebook-2178656__340.jpg" alt="">
            <a href=""><button class="apply">Apply Here</button></a>
        </div>
    </div>
</div>
<!-- END OF SHOWCASE -->
<footer>
    <p>Copyright &cop</p>
</footer>

